[submodule "scrapers/moldova-courts"]
	path = scrapers/moldova-courts
	url = https://github.com/pudo/moldova-courts
[submodule "scrapers/foerderkatalog"]
	path = scrapers/foerderkatalog
	url = https://github.com/pudo/foerderkatalog
